<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- namespace指定和哪个Mapper映射器接口对应 -->
<mapper namespace="com.xzy.dao.CompanyDao">
	<!--查询全部公司列表  -->
	<select id="findCompanyList" parameterType="map" resultType="map">
		select id,name,regtime,fshort,bulino,corname,phone,detaress,comnumber,comadmin
		 from company limit #{start},#{pageSize}
	</select>
	<!-- 查询公司总数 -->
	<select id="findCompanyCount" resultType="int">
       select count(*) from company 
           where 1 = 1       
    </select>
    <!-- 根据id查询公司信息 -->
    <select id="findCompanyById" parameterType="int" resultType="com.xzy.entity.Company">
    	select id,name,regtime,fshort,bulino,corname,phone,detaress,comnumber,comadmin
		 from company  where id=#{id}
    </select>
	<!-- 根据id删除公司信息 -->
	<delete id="delCompany" parameterType="int">
		delete from company where id=#{id}
	</delete>
 

    <!-- 添加公司 -->
    <insert id="addCompany" parameterType="com.xzy.entity.Company">
    	insert into company(name,fshort,bulino,corname,phone,detaress,comadmin,comnumber) 
    		values(#{name},#{fshort},#{bulino},#{corname},#{phone},#{detaress},#{comadmin},#{comnumber})
    </insert>
    <!-- 根据公司编号修改公司信息 -->
    <update id="companyModify" parameterType="com.xzy.entity.Company">
    	UPDATE company SET name=#{name},fshort=#{fshort},bulino=#{bulino},
    		regtime=#{regtime},corname=#{corname},phone=#{phone},detaress=#{detaress}
    		 where comnumber=#{comnumber}
    </update>
</mapper>